[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-script = "*"
flask-login = "*"
flask-migrate = "*"
flask-moment = "*"
pymysql = "*"
flask-dropzone = "*"
bootstrap-flask = "*"

[requires]
python_version = "3.7"
